@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GoldmanBold";
    src: local("GoldmanBold"),
     url("./assets/fonts/Goldman-Bold.ttf") format("truetype");
    font-weight: bold;
   }

   @font-face {
    font-family: "GoldmanRegular";
    src: local("GoldmanRegular"),
     url("./assets/fonts/Goldman-Regular.ttf") format("truetype");
    font-weight: normal;
   }

   @font-face {
    font-family: "OrbitronBold";
    src: local("OrbitronBold"),
     url("./assets/fonts/Orbitron-Bold.ttf") format("truetype");
    font-weight: normal;
   }

   @font-face {
    font-family: "OrbitronMedium";
    src: local("OrbitronMedium"),
     url("./assets/fonts/Orbitron-Medium.ttf") format("truetype");
    font-weight: normal;
   }

   @font-face {
    font-family: "OrbitronRegular";
    src: local("OrbitronRegular"),
     url("./assets/fonts/Orbitron-Regular.ttf") format("truetype");
    font-weight: normal;
   }

   @font-face {
    font-family: "RobotoBlack";
    src: local("RobotoBlack"),
     url("./assets/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: normal;
   }

   @font-face {
    font-family: "RobotoSlab";
    src: local("RobotoSlab"),
     url("./assets/fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
   }

   @font-face {
    font-family: "PoppinsRegular";
    src: local("PoppinsRegular"),
     url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
   }

   
   